* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.change {
  width: 100px;
  height: 40px;

  background-color: rgb(43, 43, 43);
  color: white;
  border: none;
  border-radius: 25px;
  opacity: 80%;

  position: relative;
}

.change:hover {
  opacity: 100%;
}

.change:active {
  top: 2px;
}